[submodule "EVM_CONTRACT/lib/forge-std"]
	path = EVM_CONTRACT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EVM_CONTRACT/lib/openzeppelin-contracts"]
	path = EVM_CONTRACT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
